* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

p {
    font-size: 30px; /* Corrigido */
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 60px; /* Corrigido */
    color: #ff6600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    font-size: 45px;
    color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h3 {
    font-size: 40px;
    color: green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;     
}

.articles article img {
    height: 180px;
}

.articles article {
    width: 30%;
}

.articles {
    display: flex;
}
